.wrapper {
  display: block;
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
}
#gallery {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30%;
}
#imgFirst,
#imgSecond {
  position: absolute;
  width: 26%;
}
